/*
Project Name: Relaxr Landing Page
Client: Relaxr
Author: Nick Markham
Developer @GA in SG
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-size: 16px;
     font-family: 'Open Sans', sans-serif;
     background-color: #f0efef;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  max-width: 1080px;
  margin: 0 auto;
}

/******************************************
/* HEADER SECTION
/*******************************************/

header {
    background: #033048;
    background-image: url(../images/header_bg.jpg);
    background-position: center bottom;
    padding: 25px 0px 0px 0px;
}

#headerBlog {
  height: 120px;
}

#headerLanding {
  height: 500px;
}

header h1 {
  color: #FFFFFF;
  float: left;
  font-size: 32px;
  font-weight: bolder;
  text-decoration: none;
  padding: 20px 0 0 60px;
}

header h2 {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 600;
  padding: 100px 0 40px 0;
  text-align: center;
}

header nav {
  float: right;
  color: #f9e42e;
  padding: 30px 40px 30px 0;
}

header nav a {
  text-decoration: none;
  color: #f9e42e;
  font-size: 16px;
  padding: 0 50px 0 0;
}


/******************************************
/* MAIN CONTENT
/*******************************************/

#main-content {
  width: 100%;
  font-size: 0;
}

#main-content > * {
  /*reset the font-size after the solving the white-space issue with font-size:0px in the parent container*/
  font-size: 16px;

  /*this vertically aligns shorter and taller columns at the top*/
  vertical-align: top;
}

/******************************************
/* Links - Psuedo Class
/*******************************************/

/* unvisited link */
a:link {
    color: #f9e42e;
}

/* visited link */
a:visited {
    color: #f9e42e;
}

/* mouse over link */
a:hover {
    color: #FFFFFF;
}

/* selected link */
a:active {
    color: #0000FF;
}

/******************************************
/* ARTICLE - Blog Page Only
/*******************************************/

article {
  width: 70%;
  display: inline-block;
  padding: 20px 0 0 60px;
  overflow: hidden;
}

article h3 {
  color: #033048;
  font-size: 36px;
  padding: 30px 0 20px 0;
}

.dropcap {
    float: left;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

article p {
  font-size: 18px;
  font-weight: 300;
  padding: 20px 0;
  color: #606161;
}

.read-more {
  text-align: right;
  color: #033048;
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
}

.read-less {
  text-align: right;
  color: #033048;
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
  margin-top: 30px;
}

.read-more a {
  color: #043049;
  font-weight: 600;
}

.read-less a {
  color: #043049;
  font-weight: 600;
}

/******************************************
/* SIDEBAR - Blog Page Only
/*******************************************/

.sidebar {
  display: inline-block;
  padding: 20px 0 0 40px;
  width: 30%;
}

.sidebar h4 {
  font-size: 28px;
  font-weight: 800;
  color: #033048;
  padding-top: 40px;
}

.sidebar li a {
  color: #033048;
  font-size: 18px;
  font-weight: 300;
}

.sidebar p {
  color: #033048;
  font-size: 18px;
  font-weight: 300;
}

.sidebar a {
  color: #033048;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}

.learn-more {
  text-align: justify;
  color: #033048;
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
}

.learn-more a {
  color: #043049;
  font-weight: 600;
}

.sidebar img {
  padding-top: 50px;
}


/******************************************
/* BENEFITS SECTION - Landing Page Only
/*******************************************/

.benefits {
  background: #FFFFFF;
  height: 350px;
}
.benefits h3 {
  color: #033048;
  font-size: 24px;
  font-weight: 600;
  padding: 70px 0 20px 60px;
}
.benefits p {
  color: #606161;
  font-size: 16px;
  font-weight: lighter;
  padding: 0 0 20px 140px;
}
.benefits ul {
  color: #606161;
  font-size: 16px;
  font-weight: lighter;
  list-style-type: circle;
  padding: 0 0 0 180px;
}

/******************************************
/* QUOTE SECTION - Landing Page Only
/*******************************************/

.quote {
  background-attachment: fixed;
  background-position: center center;
  background-size: auto;
  background: url(../images/testimonial_bg.jpg);
  height: 350px;
  text-align: center;
}
.quote blockquote {
  color: #cccccc;
  font-size: 22px;
  font-style: italic;
  font-weight: 100;
  padding: 85px 0 20px 0;
}
.quote span {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

/******************************************
/* Call to Action Sectionm - BOTH PAGES
/*******************************************/

.cta {
  background-color: #f9e42e;
  padding: 20px;
  text-align: center;
}

#ctablog {
  border-top: solid 40px #f0efef;
}

/******************************************
/* Buttons - Both Pages
/*******************************************/

button {
    font-size: 20px;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    padding: 20px 70px;
    margin: 20px 0 20px 0;
}

button:focus {
    outline: none;
}

.blueButton {
    color: #fff;
    background: #033048;
}

.yellowButton {
    color: #033048;
    background: #f9e42e;
}

.blueButton:hover {
    color: #f9e42e;
    background: #033048;
}

.yellowButton:hover {
    color: #fff;
    background: #f9e42e;
}

#centerbutton {
  text-align: center;
}

/******************************************
/* FOOTER
/*******************************************/

footer {
  background: #2E2E2E;
  height: 300px;
  text-align: center;
}

.footer-logo {
  display: inline-block;
  color: #f9e42e;
  font-size: 35px;
  font-weight: 800;
  padding: 50px;
}

footer a {
  margin: 15px;
}

footer p {
  padding: 50px 0 0 0;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

/*******************************************/

.hide {
  display: none;
}
